<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular.min.js"></script>
    <script src="../app/tp1.js"></script>
    <script src="categorias.js"></script>

    <title></title>
  </head>
  <body ng-app="tp1">

    <div ng-controller="categoriaController as $ctrl">
      <input type="text" placeholder="Adicione uma categoria e pressione enter" dl-enter-key="$ctrl.myFunction()" ng-model="$ctrl.entrada">
      <button type="button" ng-click="$ctrl.limpar()">X</button>
      <div>
        <p>Categorias disponíveis</p>
        <hr>
        <div ng-repeat="categoria in $ctrl.categorias">
          <p>{{ categoria }}</p>
          <hr ng-show="categoria">
        </div>

        <div ng-show="$ctrl.sucesso">
          <p>Ok! Categoria adicionado com sucesso</p>
        </div>

        <div ng-show="$ctrl.erro">
          <p>Erro! Não foi possível adicionar a categoria. MAIS IFO SOBRE ERRO</p>
        </div>

      </div>
    </div>

  </body>
</html>
