<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular.min.js"></script>
    <script src="../app/tp1.js"></script>
    <script src="categorias.js"></script>
    <link rel="stylesheet" href="../css/master.css">

    <title></title>
  </head>
  <body ng-app="tp1">
    <main>
      <div class="principal" ng-controller="categoriaController as $ctrl">
        <input type="text" placeholder="Adicione uma categoria e pressione enter" dl-enter-key="$ctrl.myFunction()" ng-model="$ctrl.entrada">
        <button type="button" ng-click="$ctrl.limpar()">X</button>
        <div class="tabelaLista">
          <p class="tituloEntrada">Categorias disponíveis</p>
          <!-- <hr class="linha_principal"> -->

          <div ng-repeat="categoria in $ctrl.categorias">
            <hr ng-show="categoria">
            <p>{{ categoria }}</p>

          </div>

          <div class= "tabelaAcerto" ng-show="$ctrl.sucesso">
            <p> <span>Ok!</span> Categoria adicionado com sucesso</p>
          </div>

          <div class="tabelaErro" ng-show="$ctrl.erro">
            <p> <span>Erro!</span> Não foi possível adicionar a categoria. MAIS IFO SOBRE ERRO</p>
          </div>

        </div>
      </div>

    </main>
  </body>
</html>
